<div class="alert alert-info">
  <strong class="label label-info">Info</strong>
  <p></p>
  <p>Press 'Edit' to manage fields visibility.</p>
</div>

<%- model_class = @form_builder.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<% if @form_builder.resourse.present? and @form_builder.name.present?  %>
  <%= render 'code', name: @form_builder.name  %>
  <dl class="dl-horizontal" style="margin: 40px 0 0 200px;">
    <dt><strong>Preview:</strong></dt>
    <dd><%= @form_builder.name %></dd>
  </dl>

  <dl class="dl-horizontal">
    <dd><%= insert_form(@form_builder.name) %></dd>
  </dl>  
<% end %>
<div class="form-actions span12">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              form_builders_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_form_builder_path(@form_builder), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              form_builder_path(@form_builder),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
