.alert.alert-info
  %p
    %strong.label.label-info 
      Info
  %ol
    %li
      Resourses - same as models 
      %strong
        (must be in the 'app/models' folder);
    %li
      Columns - fields in model; 
    %li
      Fields - contains all meta information about column;
    %li
      Forms - groups of
      %strong
        (visible)
      meta fields;  
    %li
      Call form builder method like that
      %code
        %span.kwd(style="color: navy;")
          = "<%="
        %span.kwd(style="color: #0086B3;")
          insert_form
        = "'FORM_BUILDER_NAME'" 
        %span.kwd(style="color: navy;")
          = "%>"
      ="."  
  %p
    %strong
      Steps   
  %ol
    %li
      %span.badge.badge-success
        = link_to "Create resourse", new_resourse_path
    %li
      %span.badge.badge-warning
        = link_to "Add columns for resourse", new_column_path
    %li
      %span.badge.badge-info
        = link_to "Create meta form for resourse", new_form_builder_path      
    %li
      %span.badge
        = link_to "Add meta fields", new_field_path     
    %li
      %span.badge.badge-info
        = link_to "Get form code", form_builders_path 