<%= simple_form_for @column, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :resourse_id, selected: @selected , collection: Resourse.all.map {|r| [r.name, r.id]}, include_blank: false %>
  <div id="name_select">
    <%= f.input :name, collection: @columns_names, include_blank: false %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                columns_path, :class => 'btn' %>
  </div>
<% end %>

<script type="text/javascript">
  $("#column_resourse_id").click(function() {
    $.ajax({
        type: 'GET',
        url: window.location.pathname,
        dataType:'script',
        data: {
          selected: $("#column_resourse_id :selected").val(),
          resourse: $("#column_resourse_id :selected").text()
        }
      });
    return false; 
  });
</script>