<h2>Sign in</h2>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.input :email, placeholder: "email"  %></div>

  <div><%= f.input :password, placeholder: "password"  %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.input :remember_me, as: :boolean, inline_label: 'Remember me', label: false %></div>
  <% end -%>

  <div><%= f.button :submit, "Sign in", class: "btn-primary" %></div>
<% end %>