<%= simple_form_for @field, :html => { :class => 'form-horizontal' } do |f| %>

    <%= f.input :variant %>
    <%= f.input :label %>
    <%= f.input :values %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                fields_path, :class => 'btn' %>
  </div>
<% end %>
