!!!
%html
  %head
    = render'shared/meta'
  %body(class='container')  
    = render 'shared/nav'
    - flash.each do |name, msg|
      .row{ class: "alert alert-#{ name == :notice ? "success" : "error" }" }
        %a(class="close" data-dismiss="alert" href="#")
          ×
        = msg
    #nav_and_login.row
      #logout
        = render 'shared/auth' if controller_name == 'admin' and action_name == 'index'
    #content.row
      = yield 
    #footer.row(style="text-align: center;")
      copyright © 2012 kirillivanov.ru
      %br
